version: '2'

services:
  bootnode:
    build:
      context: ./dockerfiles/bootnode
    expose:
      - 30303  
    image: bootnode
    container_name: bootnode
  
  node1:
    build:
      context: ./dockerfiles/node
    image: node
    container_name: node1
    expose:
      - 30303
    depends_on:
      - bootnode

  node2:
    image: node
    container_name: node2
    depends_on:
      - bootnode

  miner1:
    build:
      context: ./dockerfiles/miner
    image: miner
    container_name: miner1
    depends_on:
      - bootnode
    cpu_quota: 50000

  webstats-backend:
    image: zeusprotocol/eth-net-intelligence-api
    container_name: webstats-backend
    depends_on:
      - node1
    environment:
      - RPC_HOST=node1
      - WS_SERVER=wss://webstats-frontend:3000
      - WS_SECRET=nDs2018

  webstats-frontend:
    image: ethereumex/eth-netstats
    container_name: webstats-frontend
    ports:
      - 3000:3000