version: '2'

services:
  bootnode:
    build:
      context: ./dockerfiles/bootnode
    expose:
      - 30303  
    image: bootnode
    container_name: bootnode
  
  node1:
    build:
      context: ./dockerfiles/node
    image: node
    container_name: node1
    depends_on:
      - bootnode
    expose:
      - 8545
    environment:
      - DOCKER_NAME=node1

  #node2:
  #  image: node
  #  container_name: node2
  #  depends_on:
  #    - node1

  miner1:
    build:
      context: ./dockerfiles/miner
    image: miner
    container_name: miner1
    cpu_quota: 50000
    environment:
      - DOCKER_NAME=miner1

  miner2:
    build:
      context: ./dockerfiles/miner
    image: miner
    container_name: miner2
    cpu_quota: 50000
    environment:
      - DOCKER_NAME=miner2

  miner3:
    build:
      context: ./dockerfiles/miner
    image: miner
    container_name: miner3
    cpu_quota: 50000
    environment:
      - DOCKER_NAME=miner3

  miner4:
    build:
      context: ./dockerfiles/miner
    image: miner
    container_name: miner4
    cpu_quota: 50000
    environment:
      - DOCKER_NAME=miner4

  webstats-frontend:
    build:
      context: ./dockerfiles/stats
    image: stats
    container_name: webstats-frontend
    ports:
      - 3000:3000
    environment:
      - WS_SECRET=nDs2018
