version: '2'

services:
  bootnode:
    build:
      context: ./dockerfiles/bootnode
    expose:
      - 30303
      - 30301  
    ports:
      - 30303:30303
      - 30301:30301
    image: bootnode
    container_name: bootnode
    hostname: bootnode

  webstats-frontend:
    build:
      context: ./dockerfiles/stats
    image: stats
    depends_on:
      - bootnode
    container_name: webstats-frontend
    hostname: webstats-frontend
    ports:
      - 3000:3000
    environment:
      - WS_SECRET=nDs2018
  
#  explorer:
#    build:
#      context: ./dockerfiles/explorer
#    image: explorer
#    depends_on:
#      - bootnode
#    container_name: explorer
#    ports:
#      - 8000:8000
#    environment:
#      - DOCKER_NAME=explorer
#      - VERBOSITY=5
#    volumes:
#      - ./gethdata/explorer:/gethdata
#      - ./logs/:/logpath/

  node1:
    build:
      context: ./dockerfiles/node
    image: node
    container_name: node1
    hostname: node1
    depends_on:
      - webstats-frontend
    expose:
      - 8545
    environment:
      - DOCKER_NAME=node1
      - LOGGING=on
      - VERBOSITY=5
    volumes:
      - ./gethdata/node1:/gethdata
      - ./logs/:/logpath/

  node2:
    build:
      context: ./dockerfiles/node
    image: node
    container_name: node2
    hostname: node2
    depends_on:
      - node1
    expose:
      - 8545
    environment:
      - DOCKER_NAME=node2
      - LOGGING=on
      - VERBOSITY=5
    volumes:
      - ./gethdata/node2:/gethdata
      - ./logs/:/logpath/

  node3:
    build:
      context: ./dockerfiles/node
    image: node
    container_name: node3
    hostname: node3
    depends_on:
      - node2
    expose:
      - 8545
    environment:
      - DOCKER_NAME=node3
      - LOGGING=on
      - VERBOSITY=5
    volumes:
      - ./gethdata/node3:/gethdata
      - ./logs/:/logpath/

  miner1:
    build:
      context: ./dockerfiles/miner
    image: miner
    depends_on:
      - node3
    container_name: miner1
    hostname: miner1
    cpu_quota: 50000
    environment:
      - DOCKER_NAME=miner1
      - LOGGING=on
      - VERBOSITY=5
      - ACCOUNTPASS=1234
    volumes:
      - ./logs/:/logpath/
      - ./gethdata/miner1:/gethdata

  miner2:
    build:
      context: ./dockerfiles/miner
    image: miner
    depends_on:
      - node3
    container_name: miner2
    hostname: miner2
    cpu_quota: 50000
    environment:
      - DOCKER_NAME=miner2
      - LOGGING=on
      - VERBOSITY=5
      - ACCOUNTPASS=1234
    volumes:
      - ./logs/:/logpath/
      - ./gethdata/miner2:/gethdata

  miner3:
    build:
      context: ./dockerfiles/miner
    image: miner
    depends_on:
      - node3
    container_name: miner3
    hostname: miner3
    cpu_quota: 50000
    environment:
      - DOCKER_NAME=miner3
      - LOGGING=on
      - VERBOSITY=5
      - ACCOUNTPASS=1234
    volumes:
      - ./logs/:/logpath/
      - ./gethdata/miner3:/gethdata

  miner4:
    build:
      context: ./dockerfiles/miner
    image: miner
    depends_on:
      - node3
    container_name: miner4
    hostname: miner4
    cpu_quota: 50000
    environment:
      - DOCKER_NAME=miner4
      - LOGGING=on
      - VERBOSITY=5
      - ACCOUNTPASS=1234
    volumes:
      - ./logs/:/logpath/
      - ./gethdata/miner4:/gethdata

#  miner5:
#    build:
#      context: ./dockerfiles/miner
#    image: miner
#    depends_on:
#      - webstats-frontend
#    container_name: miner5
#    hostname: miner5
#    cpu_quota: 50000
#    environment:
#      - DOCKER_NAME=miner5
#      - LOGGING=on
#      - VERBOSITY=5
#    volumes:
#      - ./logs/:/logpath/
#      - ./gethdata/miner5:/gethdata
#
#  miner6:
#    build:
#      context: ./dockerfiles/miner
#    image: miner
#    depends_on:
#      - webstats-frontend
#    container_name: miner6
#    hostname: miner6
#    cpu_quota: 50000
#    environment:
#      - DOCKER_NAME=miner6
#      - LOGGING=on
#      - VERBOSITY=5
#    volumes:
#      - ./logs/:/logpath/
#      - ./gethdata/miner6:/gethdata
#
#  miner7:
#    build:
#      context: ./dockerfiles/miner
#    image: miner
#    depends_on:
#      - webstats-frontend
#    container_name: miner7
#    hostname: miner7
#    cpu_quota: 50000
#    environment:
#      - DOCKER_NAME=miner7
#      - LOGGING=on
#      - VERBOSITY=5
#    volumes:
#      - ./logs/:/logpath/
#      - ./gethdata/miner7:/gethdata
#
#  miner8:
#    build:
#      context: ./dockerfiles/miner
#    image: miner
#    depends_on:
#      - webstats-frontend
#    container_name: miner8
#    hostname: miner8
#    cpu_quota: 50000
#    environment:
#      - DOCKER_NAME=miner8
#      - LOGGING=on
#      - VERBOSITY=5
#    volumes:
#      - ./logs/:/logpath/
#      - ./gethdata/miner8:/gethdata
#
#  miner9:
#    build:
#      context: ./dockerfiles/miner
#    image: miner
#    depends_on:
#      - webstats-frontend
#    container_name: miner9
#    hostname: miner9
#    cpu_quota: 50000
#    environment:
#      - DOCKER_NAME=miner9
#      - LOGGING=on
#      - VERBOSITY=5
#    volumes:
#      - ./logs/:/logpath/
#      - ./gethdata/miner9:/gethdata
#
#  miner10:
#    build:
#      context: ./dockerfiles/miner
#    image: miner
#    depends_on:
#      - webstats-frontend
#    container_name: miner10
#    hostname: miner10
#    cpu_quota: 50000
#    environment:
#      - DOCKER_NAME=miner10
#      - LOGGING=on
#      - VERBOSITY=5
#    volumes:
#      - ./logs/:/logpath/
#      - ./gethdata/miner10:/gethdata
