version: '2'

services:
  bootnode:
    build:
      context: ./dockerfiles/bootnode
    expose:
      - 30303  
    image: bootnode
    container_name: bootnode
  
  node1:
    build:
      context: ./dockerfiles/node
    image: node
    container_name: node1
    depends_on:
      - bootnode
    expose:
      - 8545
    environment:
      - DOCKER_NAME=node1

  #node2:
  #  image: node
  #  container_name: node2
  #  depends_on:
  #    - node1

  miner1:
    build:
      context: ./dockerfiles/miner
    image: miner
    container_name: miner1
    cpu_quota: 50000

#  webstats-backend:
#    build:
#      context: ./dockerfiles/stats-backend
#    image: stats-backend
#    container_name: stats-backend
#    depends_on:
#      - webstats-frontend

  webstats-frontend:
    build:
      context: ./dockerfiles/stats
    image: stats
    container_name: webstats-frontend
    ports:
      - 3000:3000
    environment:
      - WS_SECRET=nDs2018

  #webstats-backend:
    #image: zeusprotocol/eth-net-intelligence-api
    #container_name: webstats-backend
    #depends_on:
      #- miner1
    #environment:
      #- RPC_HOST=172.18.0.3
      #- WS_SERVER=wss://webstats-frontend:3000
      #- WS_SECRET=nDs2018

  #webstats-frontend:
  #  image: ethereumex/eth-netstats
  #  container_name: webstats-frontend
  #  depends_on:
  #    - webstats-backend
  #  ports:
  #    - 3000:3000
  #  environment:
  #    - WS_SECRET=nDs2018